:root {
  --light-blue: #79d0d6;
  --blue-black: #0d1e2d;
  --blue-grey: #e8e8ec;
}

/* formats font style for entire page */
* {
  box-sizing: border-box;
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Sans Unicode", Verdana, sans-serif;
  color: var(--blue-black);
}

main {
  background-color: var(--blue-grey);
}

/* prevents white margin from appearing around entire page */
body {
  margin: 0px;
}

/* eliminates automatic padding in unordered list */
ul {
  padding: 0px;
}

/* dispalys list items in a row */
li {
  display: inline;
  /* removes bullets from list items */
  list-style-type: none;
}

li a {
  font-size: 20px;
  color: var(--blue-black);
  font-weight: 500;
}

/* font color changes with cursor hover */
li a:hover {
  font-size: 22px;
  color: rgb(16, 72, 72);
  font-weight: 700;
}

/* elminates automatic top margin in level 1 header */
h1 {
  margin-top: 0px;
}

header {
  background: var(--light-blue);
  text-align: center;
  font-size: x-large;
}

/* removes white margin from below nav, algins items center */
nav {
  display: flex;
  justify-content: center;
}

/* allows for section title and section to appear side by side in rows */
.about-me,
.work,
.contact-me {
  display: flex;
}

.about-me-heading,
.work-heading,
.contact-me-heading {
  /* creates border lines to the right of section titles */
  border-right: solid var(--blue-black) 5px;
  /* min-width ensures border lines for each section align vertically */
  min-width: 300px;
  /* right aligns and sizes text of section titles */
  text-align: right;
  font-size: xx-large;
  /* creates space around section titles */
  margin: 25px 50px 25px 0px;
  /* creates "breaks" in border line to the right of section titles */
  padding: 0px 10px 0px 0px;
}

/* aligns "about me" paragraph text to corresponding section title */
.about-me-text {
  display: inline;
  margin: 25px 50px 25px 0px;
}

/* reverses flex order of "project cards" so that the largest card is first */
.work-projects {
  display: flex;
  flex-wrap: wrap-reverse;
  margin: 25px 50px 25px 0px;
}

/* creates larger project 1 card */
.project1 {
  flex: 1 0 0;
  background-image: url(./images/coming-soon.png);
  background-size: cover;
  background-position: center;
  text-align: left;
  border-style: solid;
  border-width: 5px;
  border-color: var(--light-blue);
  margin: 10px 10px 10px 0px;
  padding: 200px 0px 0px 0px;
  min-width: 600px;
  min-height: 170px;
}

/* creates smaller cards 1 and 2 */
.project2 {
  flex: 1 0 0;
  background-image: url("./images/coming-soon.png");
  background-size: cover;
  background-position: center;
  text-align: left;
  border-style: solid;
  border-width: 5px;
  border-color: var(--light-blue);
  margin: 10px 10px 10px 0px;
  padding: 200px 0px 0px 0px;
  min-width: 400px;
  min-height: 170px;
}

/* creates colored box around project title in "project cards" */
.box-project-title {
  width: 175px;
  background-color: var(--light-blue);
}

/* styles displayed on cursor hover over project card 1*/
.project1:hover {
  font-size: 22px;
  color: rgb(0, 255, 255);
  font-weight: 700;
}

/* styles displayed on cursor hover over project cards 2 and 3 */
.project2:hover {
  font-size: 22px;
  color: rgb(0, 255, 255);
  font-weight: 700;
}

/* aligns contact links with "contact me" section title */
.contact-me-links {
  margin: 25px 50px 25px 0px;
}

/* elminates white margin at bottom of page */
.footer {
  padding-bottom: 20px;
}

@media screen and (max-width: 768px) {
  header {
    min-width: 20vw;
    min-height: 20vh;
    text-align: center;
  }

  p {
    margin: 10%;
  }

  li {
    display: block;
    list-style-type: none;
  }

  /* changes sections and section content from rows to column */
  .about-me,
  .work,
  .contact-me {
    display: block;
  }

  .about-me-heading,
  .work-heading,
  .contact-me-heading {
    /* removes border lines */
    border-right: none;
    /* centers and sizes text of section titles */
    text-align: center;
    /* elminates margin and padding */
    margin: 0;
    padding: 0;
  }

  .about-me-heading {
    padding-top: 5%;
  }

  /* elminates white margin caused by h1 */
  .work-heading {
    margin: 0px;
  }

  /* adds margin around "project cards" */
  .work-projects {
    margin: 10%;
  }

  /* makes project card 1 smaller for smaller screens */
  .project1 {
    min-width: 300px;
    min-height: 70px;
  }

  /* makes project cards 2 and 3 smaller for smaller screens */
  .project2 {
    min-width: 300px;
    min-height: 70px;
  }
  /* centers contact links */
  .contact-me-links {
    text-align: center;
    margin-left: 9%;
  }
}
