:root {
  --light-blue: #79d0d6;
  --dark-blue: #214e77;
  --blue-grey: #e8e8ec;
}

* {
  box-sizing: border-box;
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Sans Unicode", Verdana, sans-serif;
  color: var(--dark-blue);
}

main {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--blue-grey);
}

h2,
p {
  margin: 15px;
}

body {
  margin: 0px;
}

li {
  display: inline;
  list-style-type: none;
}

.main-header {
  display: flex;
  justify-content: space-between;
  background: #2a2a2c;
}
.about-me,
.work,
.contact-me {
  display: flex;
}

.about-me-heading,
.work-heading,
.contact-me-heading {
  display: flex;
  flex-wrap: wrap;
  border-right: solid var(--dark-blue) 5px;
  min-width: 300px;
  text-align: right;
  font-size: large;
  margin-left: 5%;
}

.about-me-text {
  display: inline;
}

.work-projects {
  display: flex;
  flex-wrap: wrap-reverse;
}

.project {
  flex: 1 0 0;
  background-image: url("./images/coming-soon-5.png");
  background-size: cover;
  background-position: center;
  text-align: left;
  border-style: solid;
  border-width: 5px;
  border-color: var(--light-blue);
  margin: 10px;
  padding: 200px 0px 0px 0px;
  min-width: 400px;
  min-height: 170px;
}

.box-project-title {
  width: 175px;
  background-color: var(--light-blue);
}

.footer {
  display: flex;
  flex-wrap: wrap;
}
