:root {
  --light-blue: #79d0d6;
  --dark-blue: #214e77;
  --blue-grey: #e8e8ec;
  --dark-grey: #2a2a2c;
}

/* formats font style for entire page */
* {
  box-sizing: border-box;
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Sans Unicode", Verdana, sans-serif;
  color: var(--dark-blue);
}

main {
  background-color: var(--blue-grey);
}
/* prevents white margin from appearing around entire page */
body {
  margin: 0px;
}

li {
  display: inline;
  list-style-type: none;
}

li a {
  font-size: 16px;
  color: cyan;
  font-weight: 500;
}

li a:hover {
  font-size: 16px;
  color: rgb(16, 72, 72);
  font-weight: 700;
}

/* elminates automatic top margin in level 1 header */
h1 {
  margin-top: 0px;
}

header {
  /* distributes list items from nav into rows */
  border: 2px solid blueviolet;
  /* puts space between main header element and nav links */
  background: var(--dark-grey);
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* allows for section title and section to appear side by side in rows */
.about-me,
.work,
.contact-me {
  display: flex;
}

/* places and sizes blue chevron pattern under main header */
.banner {
  background-image: url(./images/chevron-background.png);
  background-size: cover;
  background-position: center;
  text-align: right;
  min-width: 100%;
  min-height: 200px;
  background-color: var(--dark-grey);
}

.about-me-heading,
.work-heading,
.contact-me-heading {
  /* creates border lines to the right of section titles */
  border-right: solid var(--dark-blue) 5px;
  /* min-width ensures border lines for each section align vertically */
  min-width: 300px;
  /* right aligns and sizes text of section titles */
  text-align: right;
  font-size: xx-large;
  /* creates space around section titles */
  margin: 25px 50px 25px 0px;
  /* creates "breaks" in border line to the right of section titles */
  padding: 0px 10px 0px 0px;
}

/* aligns "about me" paragraph text to corresponding section title */
.about-me-text {
  display: inline;
  margin: 25px 50px 25px 0px;
}

/* reverses flex order of "project cards" so that the largest card is on top*/
.work-projects {
  display: flex;
  flex-wrap: wrap-reverse;
  margin: 25px 50px 25px 0px;
}

.project {
  flex: 1 0 0;
  background-image: url("./images/coming-soon-5.png");
  background-size: cover;
  background-position: center;
  text-align: left;
  border-style: solid;
  border-width: 5px;
  border-color: var(--light-blue);
  margin: 10px 10px 10px 0px;
  padding: 200px 0px 0px 0px;
  min-width: 400px;
  min-height: 170px;
}

/* creates colored box around project title and info */
.box-project-title {
  width: 175px;
  background-color: var(--light-blue);
}

/* aligns contact links with "contact me" section title */
.contact-me-links {
  margin: 25px 50px 25px 0px;
}

/* unsure of what to put in footer */
.footer {
}

@media screen and (min-width: 768px) {
  header {
    min-width: 20vw;
    min-height: 20vh;
  }
  nav {
    flex-direction: row;
    justify-content: flex-end;
  }
}
